apiVersion: v1
kind: ConfigMap
metadata:
  name: pgbouncer-config
  namespace: data
data:
  pgbouncer.ini: |
    [databases]
    appdb = host=postgres.data.svc.cluster.local port=5432 dbname=appdb user=postgres password=postgres

    [pgbouncer]
    listen_addr = 0.0.0.0
    listen_port = 6432
    auth_type = trust
    pool_mode = transaction
    default_pool_size = 20
    max_client_conn = 200
    ignore_startup_parameters = extra_float_digits,search_path
    admin_users = postgres
    stats_users = postgres
    auth_file = /etc/pgbouncer/userlist.txt

  userlist.txt: |
    "postgres" ""
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgbouncer
  namespace: data
  labels:
    app: pgbouncer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgbouncer
  template:
    metadata:
      labels:
        app: pgbouncer
    spec:
      containers:
        - name: pgbouncer
          image: edoburu/pgbouncer:latest
          ports:
            - containerPort: 6432
          volumeMounts:
            - name: config
              mountPath: /etc/pgbouncer/pgbouncer.ini
              subPath: pgbouncer.ini
              readOnly: true
            - name: config
              mountPath: /etc/pgbouncer/userlist.txt
              subPath: userlist.txt
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: pgbouncer-config
---
apiVersion: v1
kind: Service
metadata:
  name: pgbouncer
  namespace: data
spec:
  selector:
    app: pgbouncer
  ports:
    - protocol: TCP
      port: 6432
      targetPort: 6432
  type: ClusterIP
