apiVersion: v1
kind: ConfigMap
metadata:
  name: pgbouncer-config
  namespace: data
data:
  pgbouncer.ini: |
    [pgbouncer]
    listen_port = 6432
    listen_addr = *
    auth_type = md5
    auth_file = /etc/pgbouncer/userlist.txt
    pool_mode = session
    max_client_conn = 100
    default_pool_size = 20
    admin_users = saas_admin
    ignore_startup_parameters = extra_float_digits,search_path

    [databases]
    saas_db = host=postgres-headless.data.svc.cluster.local port=5432 dbname=saas_db
  userlist.txt: |
    "saas_admin" "md56965440787e91d51a66ff52ff9d3fbc9"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgbouncer
  namespace: data
  labels:
    app: pgbouncer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgbouncer
  template:
    metadata:
      labels:
        app: pgbouncer
    spec:
      containers:
        - name: pgbouncer
          image: edoburu/pgbouncer:latest
          ports:
            - containerPort: 6432
          volumeMounts:
            - name: config
              mountPath: /etc/pgbouncer/pgbouncer.ini
              subPath: pgbouncer.ini
              readOnly: true
            - name: config
              mountPath: /etc/pgbouncer/userlist.txt
              subPath: userlist.txt
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: pgbouncer-config
---
apiVersion: v1
kind: Service
metadata:
  name: pgbouncer
  namespace: data
spec:
  selector:
    app: pgbouncer
  ports:
    - protocol: TCP
      port: 6432
      targetPort: 6432
  type: ClusterIP
