apiVersion: v1
kind: ConfigMap
metadata:
  name: pgbouncer-config
  namespace: data
data:
  pgbouncer.ini: |
    [pgbouncer]
    listen_port = 6432
    listen_addr = *
    auth_type = md5
    auth_file = /etc/pgbouncer/userlist.txt
    pool_mode = session
    max_client_conn = 100
    default_pool_size = 20
    admin_users = saas_admin

    [databases]
    saas_db = host=postgres-headless.data.svc.cluster.local port=5432 dbname=saas_db
  userlist.txt: |
    "saas_admin" "md56965440787e91d51a66ff52ff9d3fbc9"
---
apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: data
type: Opaque
stringData:
  password: supersecretpassword # This should be synced from Secrets Manager in a real setup
  username: saas_admin
